
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
h2, h3 {
  margin: 10px 0;
}
.order-list,
.order-detail {
  // padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.order-list {
  width: 25%;
  overflow: auto;
  h2 {
    text-align: center;
  }
  .order-card {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &:active {
      transform: scale(0.97);
    }
  }
}
.order-detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 10px;
  gap: 10px;
}
.order-detail-content {
  display: flex;
  flex-direction: column;
  flex:1;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  .order-table {
    width: 100%;
    text-align: left;
    margin-top: 5rem;
    border-collapse: collapse;
    th,td {
      height: 2.3rem;
      border: 1px solid black;
      padding: 5px;
      box-sizing: border-box ;
    }
    // td {
    //   &:nth-child(3) {text-align: center;}
    // }
    tfoot {
      :nth-child(1){text-align: end;}
      :nth-child(2){text-align: start;}
    }
  }
  button {
    margin-top: 20px;
    align-self: end;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #856F59;
    color: #F5E6D3;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #62503e;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}