<div class="wrapper">

  <aside class="order-list">
    <h2>Order List</h2>

    @for (order of orders$ | async; track order.orderId) {
      <article class="order-card" (click)="selectOrder(order)">
        <h3>Order ID: {{order.orderId}}</h3>
        <p>Table {{order.tableNumber}} - {{order.customerName}}</p>
        <time>Created: {{order.createdAt | date: "dd/MM/yyyy '-' hh:mm a"}}</time>
        <p>Status: <strong style="color: crimson">{{ order.isPaided === true ? 'Paid' : 'Unpaid' }}</strong></p>
      </article>
    }

  </aside>

  <section class="order-detail">
    <h2>Order Detail</h2>

    @if (selectedOrder) {
      @if (orderDetail$ | async; as details) {

        <article class="order-detail-content">
          <header>
            <p><strong>Order ID: </strong>{{selectedOrder.orderId}}</p>
            <p><strong>Table: </strong>{{selectedOrder.tableNumber}}</p>
            <p><strong>Customer Name: </strong>{{selectedOrder.customerName}}</p>
            <p><strong>Status: </strong>{{selectedOrder.isPaided ? 'Paid' : 'Unpaid'}}</p>
            <p><strong>Assigned Waiter: </strong>{{selectedOrder.employee.username}}</p>
            <p><strong>Note: </strong>{{selectedOrder.note}}</p>
          </header>
          
          <!-- @for (detail of detas) -->
          <table class="order-table">
            <col style="width: 10%;"> <!--Index-->
            <col style="width: 40%;"> <!--Description-->
            <col style="width: 10%;"> <!--Quantity-->
            <col style="width: 20%;"> <!--Unit Price-->
            <col style="width: 20%;"> <!--Amount-->
            
            <thead>
              <tr>
                <th>Index</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Amount</th>
              </tr>
            </thead>
            
            <tbody>
              @for (item of orderDetail$ | async; track $index; let i = $index  ) {

                <tr>
                  <td>{{i + 1}}</td>
                  <td>{{item.productName}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.unitPrice | number: '1.0-0'}}</td>
                  <td>{{item.amount | number: '1.0-0'}}</td>
                </tr>
              }
            </tbody>
          
          <tfoot>
            <tr>
              <td colspan="4"><strong>Total: </strong></td>
              <td>{{totalAmount$ | async | number: '1.0-0'}}</td>
            </tr>
          </tfoot>
        </table>
        <button>Checkout</button>
        
      </article>
    }
     @else {
      <p>Loading order detail...</p>
    }
  } @else {
    <p>Please select order to view details</p>
  }
  </section>
</div>