<header>
  <a [routerLink]="['/home']"><h1 class="logo"><strong>CAFIORA</strong></h1></a>
  <nav>
    <ul>
      <li>
        <i class="fa-solid fa-user-plus"></i>
        <a routerLink="/cashier/create-account" routerLinkActive="active">Create Account</a>
      </li>

      <li>
        <i class="fa-solid fa-chart-simple"></i>
        <a routerLink="/cashier/view-revenue" routerLinkActive="active">View Revenue</a>
      </li>

      <li>
        <i class="fa-solid fa-print"></i>
        <a routerLink="/cashier/print-invoice" routerLinkActive="active">print-invoice</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
