header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 8%;
  background-color: #BEAA96;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  .logo{
    text-align: left;
    align-content: center;
    margin: 0;
    font-size: 2rem;
    cursor: pointer;
  }
  nav {
    width: 40%;
    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      li {
        width: auto;
        cursor: pointer;
        text-align: center;
        padding: 15px 12px;
        border-radius: 5px;
        &:hover { background: rgba(0,0,0,0.1); }
        a {
          padding: 15px 12px;
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
      &:hover {
        text-decoration: none;
        color: inherit;
      }
  }
}

.container {
  width: auto;
  height: 89vh;
  border: 1px solid black;
  margin: 0 15px;
  padding: 10px;
  box-sizing: border-box;
}