<header>
  <nav class="navbar">
    <div class="nav-brand" routerLink="/home">
      <img src="assets/logo.png" alt="Cafeloria Logo" class="logo-image" />
    </div>

    <ul class="nav-links" [ngClass]="{ 'active': isMenuOpen }">
      <li><a [routerLink]="['/home']" routerLinkActive="active-link" (click)="closeMenu()">Home</a></li>
      <li><a [routerLink]="['/menu']" routerLinkActive="active-link" (click)="closeMenu()">Menu</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="active-link" (click)="closeMenu()">About</a></li>
    </ul>

    <div class="login" routerLink="/login">
      <a class="btn-login">Login</a>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
      <i class="fa" [ngClass]="{ 'fa-bars': !isMenuOpen, 'fa-times': isMenuOpen }"></i>
    </div>
  </nav>
</header>

<main> <router-outlet></router-outlet> </main>
