footer {
  background-color: #beaa96;
  color: #fff;
  width: 100vw;
  padding: 30px 40px;
  font-family: 'Poppins', sans-serif;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    gap: 120px;
  }

  .footer-logo img {
    width: 120px;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  .footer-section {
    flex: 1;
    min-width: 200px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .footer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h3 {
        font-size: 18px;
        margin: 0;
      }

      .arrow {
        font-size: 20px;
        transition: transform 0.3s ease;
        display: none; // chỉ hiện trên mobile
      }

      .arrow.active {
        transform: rotate(180deg);
      }
    }

    .footer-body {
      margin-top: 10px;
      transition: all 0.3s ease;

      p {
        font-size: 14px;
        margin: 5px 0;
      }

      .social-icons {
        display: flex;
        gap: 15px;

        a {
          color: #fff;
          font-size: 18px;
          transition: 0.3s;
          &:hover {
            color: #ff9800;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .footer-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 60px;
      text-align: left;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 40px;
    }

    .footer-logo {
      justify-self: center;
    }

    .footer-abouts,
    .footer-contact,
    .footer-socials {
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        margin: 5px 0;
        line-height: 1.5;
      }
    }
  }


  @media (max-width: 1023px) and (min-width: 768px) {
    .footer-content {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      .footer-logo {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }

      .footer-section {
        flex: 1 1 40%;
        text-align: center;
      }
    }
  }

  @media (max-width: 769px) {
    padding: 20px 0;

    .footer-content {
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
      gap: 10px;
    }

    .footer-logo {
      display: none;
    }

    .footer-section {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 10px 0;

      .footer-header {
        .arrow {
          display: inline-block;
        }
        h3{
          font-size: 27px;
          color: #604023;
          font-family: Lalezar, cursive;
        }
      }
      .footer-body {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.4s ease;
        display: flex;
        text-align: center;
        font-family: Lalezar, cursive;
        p{
          font-size: 16px;
          color: rgba(110, 77, 58, 0.8);
          font-family: Lalezar, cursive;
          margin-right: 10px;
        }
      }
      .footer-body.active {
        max-height: 400px;
        opacity: 1;
        margin-top: 5px;
      }
    }
  }
}
